extends layout 

block content 

    h1=title 
    div(class="row", style="margin-right:20px")
        div(class="col-sm-5")
            p #[strong Price: ] #{product.price} 
            p #[strong Description: ] #{product.description}

            ul(style="display=inline") 
                each cat in product.category 
                     li #{cat.name}
        div(class="col-sm-6" )
            img(src=product.image, alt="product photo", width="200px", height="250px")

        div(class="col-sm-1") 
    
    p
        a(href=`${product._id}/delete`)    Delete  
    p    
        a(href=`${product._id}/update`)    Update
            